<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/users}">Users</a><br>
<a th:href="@{/login}">Login</a><br>


<div sec:authorize="isAuthenticated()">
    <h2> Next information only for authenticated</h2>
    Authenticated username:
    <div sec:authentication="principal.username"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>
</div>


</body>
</html>